body {
    background-color: rgb(216, 120, 36);
}

h1, h2, h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: yellow;
}

#menuBG, #frmMenu, #totalPrice, #showText, #cart, #btnOrder {
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
}

#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 400px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 20 auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.center {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: left;
    padding-bottom: 15px;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 5px 100px;
    width: 100px;
    height: 40px;
    display: block;
    background-color: rebeccapurple;
    border-color: blueviolet;
}

#btnOrder:hover {
    background-color: rgb(128, 64, 192);
    cursor: pointer;
    font-weight: bolder;
}